**
!Cargo.toml
!Cargo.lock
!vendor/
!vendor/ece-native/
!vendor/ece-native/**
!core/
!core/Cargo.toml
!core/src/
!core/src/**
!crypto/
!crypto/Cargo.toml
!crypto/src/
!crypto/src/**
!client/
!client/Cargo.toml
!client/src/
!client/src/**
!android/
!android/Cargo.toml
!android/src/
!android/src/**
!protocol/
!protocol/Cargo.toml
!protocol/src/
!protocol/src/**
!text/
!text/Cargo.toml
!text/src/
!text/src/**
!media/
!media/Cargo.toml
!media/src/
!media/src/**
!maps/
!maps/Cargo.toml
!maps/src/
!maps/src/**
!calls/
!calls/Cargo.toml
!calls/src/
!calls/src/**
!server/
!server/Cargo.toml
!server/src/
!server/src/**
!licenses/
!licenses/Server-ThirdParty.txt
!licenses/Crypto-ThirdParty.txt
!licenses/Client-ThirdParty.txt
!licenses/Text-ThirdParty.txt
!licenses/Integrations-ThirdParty.txt
!licenses/Calls-ThirdParty.txt
!licenses/Web-ThirdParty.txt
!licenses/Newsreader.txt
!licenses/GoogleSansFlex.txt
!licenses/GoogleSansCode.txt
!licenses/GoogleSansCode-Trademarks.md
!licenses/MaterialSymbols.txt
!build.gradle.kts
!settings.gradle.kts
!gradle.properties
!app/
!app/build.gradle.kts
!app/proguard-rules.pro
!app/src/
!app/src/**
!shared/
!shared/build.gradle.kts
!shared/src/
!shared/src/**
!kotlin-js-store/
!kotlin-js-store/**
