.gradle/
.kotlin/
**/build/
**/target/
kotlin-js-store/**
!kotlin-js-store/wasm/
!kotlin-js-store/wasm/yarn.lock
local.properties
*.jks
*.keystore
google-services.json
fuzz/corpus/
fuzz/artifacts/
fuzz/coverage/
